<!DOCTYPE html>
<html>
        <head>
                <title>Delivery Tracking System Login</title>
                <meta charset="UTF-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </head>
        <body>
                <h2>Login</h2>
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			{{ form.username }}
			{{ form.password }}
			{{ form.submit }}
		</form>
                <br>
                <a href="{{url_for('signup')}}">Don't have an account? Sign Up</a><br>
        </body>
</html>
